Repository WaggleWaggle-v2/waggle-frontend, pull requests merged in 2024-10, with the labels that each got.

#63 메인 페이지 이슈 해결 및 기능 추가
  package-lock.json
  package.json
  src/api/axios.ts
  src/api/book/bookRequest.ts
  src/assets/images/bookshelf/bookshelf-long.svg
  src/assets/images/bookshelf/bookshelf-short.svg
  src/assets/images/bookshelf/dark-graphic.png
  src/assets/images/bookshelf/light-graphic.png
  src/assets/images/bookshelf/locker.svg
  src/assets/images/bookshelf/name-tag.svg
  src/hooks/reactQuery/useQueryBook.ts
  src/pages/ReadBook/index.tsx
  src/pages/main/components/additionalSetup/InitAdditionalSetupModal.tsx
  src/pages/main/components/bookSetup/BookSetupModal.tsx
  src/pages/main/components/bookSetup/Canvas.tsx
  src/pages/main/components/bookSetup/InitBookSetupModal.tsx
  src/pages/main/components/bookSetup/SetupStep/ImageList.tsx
  src/pages/main/components/bookSetup/SetupStep/SetPost.tsx
  src/pages/main/components/bookSetup/SetupStep/SetPublicity.tsx
  src/pages/main/components/bookSetup/SetupStep/SetSender.tsx
  src/pages/main/components/bookSetup/Textarea.tsx
  src/pages/main/components/bookshelf/BookItem.tsx
  src/pages/main/components/bookshelf/BookScollPaper.tsx
  src/pages/main/components/bookshelf/BookScrollModal.tsx
  src/pages/main/components/bookshelf/BookSkeleton.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/constants/book.ts
  src/pages/main/index.tsx
  src/styles/animation/skeletonAnimation.ts
  src/styles/theme/dark.ts
  src/styles/theme/light.ts
  src/utils/getFormattedDate.ts
Labels: Ccomponent, API, FIX

#66 랜딩 가로 스크롤 및 기타 이슈들 해결
  package-lock.json
  package.json
  src/components/shelfDecoration/ShelfDecoration.tsx
  src/hooks/reactQuery/useQueryUser.ts
  src/pages/ReadBook/index.tsx
  src/pages/landing/components/BookshelfCard/components/TotalCount.tsx
  src/pages/landing/components/BookshelfCard/index.tsx
  src/pages/landing/components/LandingButton.tsx
  src/pages/landing/components/LandingPC/LandingPC.tsx
  src/pages/landing/components/LandingPC/components/FirstLanding/index.tsx
  src/pages/landing/components/LandingPC/components/SecondLanding/SecondLandingLayout.tsx
  src/pages/landing/components/LandingPC/components/SecondLanding/index.tsx
  src/pages/landing/components/LandingPC/components/SecondSection/index.tsx
  src/pages/landing/components/LandingPC/components/ThirdLanding/ThirdLanding.tsx
  src/pages/landing/components/LandingPC/components/ThirdLanding/ThirdLandingLayout.tsx
  src/pages/landing/components/LandingPC/hooks/usePageNavigation.ts
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
  src/pages/main/components/bookshelf/ShareModal.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/components/SetProfileModal.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/index.tsx
  src/pages/myPage/components/editSection/components/DeleteAccountButton.tsx
  src/pages/myPage/components/editSection/components/DeleteAccountModal.tsx
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/hooks/useSettingType.ts
  src/pages/myPage/index.tsx
  src/utils/shareKakao.ts
Labels: Ccomponent, Page, Refactor, UI

#68 마이페이지 구조 변경 및 오류 해결
  src/Router.tsx
  src/api/user/userRequest.ts
  src/api/user/userRequest.type.ts
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryUser.ts
  src/pages/index.ts
  src/pages/landing/index.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/index.tsx
  src/pages/myPage/components/profileSection/ProfileSectionLayout.tsx
  src/pages/myPage/components/profileSection/index.tsx
  src/pages/myPage/constant/settingList.ts
  src/pages/myPage/index.tsx
  src/pages/myPage/pages/ReadBook/index.tsx
  src/pages/myPage/pages/editBookshelf/index.tsx
  src/pages/myPage/pages/layout/BookListLayout.tsx
  src/pages/myPage/pages/layout/receiveBookList/index.tsx
  src/pages/myPage/pages/layout/sendBookList/index.tsx
  src/utils/shareKakao.ts
Labels: API, Refactor, UI

#69 웹 성능 최적화
  package-lock.json
  package.json
  public/fonts/ChosunCentennial.woff
  public/fonts/ChosunCentennial_subset.woff2
  public/fonts/EBSHMJESaeron-L.woff
  public/fonts/EBSHMJESaeron-L.woff2
  public/fonts/EBSHMJESaeron-R.woff
  public/fonts/EBSHMJESaeron-R.woff2
  public/fonts/EBSHMJESaeron-SB.woff
  public/fonts/EBSHMJESaeron-SB.woff2
  public/fonts/EBSHunminjeongeum-L.woff
  public/fonts/EBSHunminjeongeum-L.woff2
  public/fonts/EBSHunminjeongeum-R.woff
  public/fonts/EBSHunminjeongeum-R.woff2
  public/fonts/EBSHunminjeongeum-SB.woff
  public/fonts/EBSHunminjeongeum-SB.woff2
  public/fonts/Pretendard-Bold.subset.woff2
  public/fonts/Pretendard-ExtraBold.subset.woff2
  public/fonts/Pretendard-Light.subset.woff2
  public/fonts/Pretendard-Regular.subset.woff2
  src/Router.tsx
  src/components/template/ModalTemplate.tsx
  src/pages/index.ts
  src/pages/main/components/bookSetup/BookSetup.tsx
  src/pages/main/components/bookshelf/BookScrollModal.tsx
  src/styles/fonts.js
  src/styles/theme/dark.ts
  src/styles/theme/light.ts
  vite.config.ts
Labels: Config, UI

#70 사용자가 보던 랜딩 페이지 기억
  package-lock.json
  src/components/header/index.tsx
  src/pages/landing/components/BookshelfSection/components/RandomCardSection/index.tsx
  src/pages/landing/components/BookshelfSection/index.tsx
  src/pages/landing/components/LandingPC/components/ThirdLanding/ThirdLandingLayout.tsx
  src/pages/landing/components/LandingPC/index.tsx
  src/stores/.gitkeep
  src/stores/useStore.ts
Labels: Ccomponent, API, Refactor, UI

#71 타블렛, 모바일 랜딩 페이지 배경색 추가
  package-lock.json
  src/pages/landing/index.tsx
Labels: Ccomponent, UI

#72 디테일 수정
  src/assets/images/nav-bottom-img.jpg
  src/components/PrimaryInput/index.tsx
  src/components/header/nav/MobileNav.tsx
  src/components/header/nav/components/NavCategory.tsx
  src/components/shelfDecoration/ShelfDecoration.tsx
  src/components/template/ModalBaseTemplate/ModalBaseTemplate.tsx
  src/pages/landing/components/BookshelfCard/index.tsx
  src/pages/landing/components/BookshelfSection/index.tsx
  src/pages/landing/components/DescriptionSection.tsx
  src/pages/landing/components/LandingPC/components/KingSejongCard/KingSejongCard.tsx
  src/pages/landing/components/LandingPC/components/SecondLanding/index.tsx
  src/pages/landing/index.tsx
  src/pages/landing/style/landingCommon.ts
  src/pages/myPage/components/bookListSection/components/sortingBox.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/editSection/components/BookshelfThemeSection/index.tsx
  src/pages/myPage/components/editSection/components/OpenScopeSection.tsx
  src/pages/myPage/index.tsx
  src/pages/myPage/pages/layout/BookListLayout.tsx
  src/pages/myPage/pages/layout/receiveBookList/index.tsx
  src/pages/myPage/pages/layout/sendBookList/index.tsx
Labels: API, Page, UI

#73 랜딩 스크롤 디바운스 및 공유하기 텍스트 조건부 렌더링
  src/pages/landing/components/LandingPC/hooks/usePageNavigation.ts
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/index.tsx
  src/pages/landing/mockData.ts
  src/pages/main/components/bookSetup/SetupStep/SetPublicity.tsx
  src/pages/main/components/bookshelf/BookshelfInfo.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/components/bookshelf/ShareModal.tsx
  src/pages/main/index.tsx
Labels: Ccomponent, Refactor, UI

#74 마이페이지 환경설정 콘솔 오류 해결
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/pages/editBookshelf/components/BookshelfImageSection/components/SetProfileModal.tsx
  src/pages/myPage/pages/editBookshelf/components/BookshelfImageSection/index.tsx
  src/pages/myPage/pages/editBookshelf/components/BookshelfThemeSection/components/ThemeToggleButton.tsx
  src/pages/myPage/pages/editBookshelf/components/BookshelfThemeSection/index.tsx
  src/pages/myPage/pages/editBookshelf/components/IntroductionSection/index.tsx
  src/pages/myPage/pages/editBookshelf/components/OpenScopeSection.tsx
  src/pages/myPage/pages/editBookshelf/hooks/useScopeValue.ts
  src/pages/myPage/pages/editBookshelf/index.tsx
  src/pages/myPage/pages/editBookshelf/style/commStyle.ts
Labels: Refactor
