Repository WaggleWaggle-v2/waggle-frontend, pull requests merged in 2024-09, with the labels that each got.

#20 Google Oauth 로직 추가
  src/Router.tsx
  src/api/.gitkeep
  src/api/axios.ts
  src/pages/Login/components/SocialLoginButtonList.tsx
  src/pages/Login/constants/socialLoginInfo.ts
  src/pages/Root.tsx
  src/pages/auth/index.tsx
  src/pages/index.ts
  src/utils/cookie.ts
Labels: Config

#21 / 페이지의 헤더 반응형 분기 추가
  src/components/header/index.tsx
  src/components/icons/CloseIcon.tsx
Labels: UI

#23 Main 페이지 프로필 및 책장 리스트 레이아웃 구현 및 반응형 적용
  package-lock.json
  package.json
  src/assets/icons/cloud-green.svg
  src/assets/icons/cloud-lightgreen.svg
  src/assets/icons/right-arrow.svg
  src/assets/images/bookshelf/bookshelf-long.png
  src/assets/images/bookshelf/bookshelf-short.png
  src/components/PrimaryButton/index.tsx
  src/components/header/index.tsx
  src/components/header/nav/index.tsx
  src/components/template/ModalTemplate.tsx
  src/components/template/ProgressBar.tsx
  src/components/template/SettingTemplate.tsx
  src/constants/mock.ts
  src/hooks/.gitkeep
  src/hooks/usePageWidth.ts
  src/hooks/useSmoothScrooll.ts
  src/pages/Root.tsx
  src/pages/auth/index.tsx
  src/pages/main/bookshelf/BookshelfInfo.tsx
  src/pages/main/bookshelf/GuestBooks.tsx
  src/pages/main/components/additionalSetup/AdditionalSetup.tsx
  src/pages/main/components/additionalSetup/AdditionalSetupModal.tsx
  src/pages/main/components/additionalSetup/InitAdditionalSetupModal.tsx
  src/pages/main/components/additionalSetup/SetIntro.tsx
  src/pages/main/components/additionalSetup/SetProfile.tsx
  src/pages/main/components/additionalSetup/SetTheme.tsx
  src/pages/main/constants/profile-images.ts
  src/pages/main/index.tsx
  src/pages/setup/index.tsx
Labels: Ccomponent, Page, Refactor, UI

#25 `Main` 페이지 라우터 path 변경, 리팩토링, 디자인 수정
  src/Router.tsx
  src/assets/images/bookshelf/name-tag.png
  src/constants/mock.ts
  src/pages/index.ts
  src/pages/landing/index.tsx
  src/pages/main/components/bookshelf/BookItem.tsx
  src/pages/main/components/bookshelf/BookshelfInfo.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/constants/profile-images.ts
  src/pages/main/index.tsx
  src/pages/setup/index.tsx
Labels: Ccomponent, Page, Refactor

#26 헤더 분기 추가 및 디자인 수정 및 navBar 리팩토링
  src/assets/icons/alarm.svg
  src/assets/icons/right-arrow.svg
  src/assets/icons/symbol-logo.svg
  src/components/header/index.tsx
  src/components/header/nav/PcNav.tsx
  src/components/header/nav/components/NavCategory.tsx
  src/components/header/nav/components/UserInfo.tsx
  src/components/header/nav/index.tsx
  src/components/header/nav/style/navStyle.ts
  src/components/icons/CloseIcon.tsx
  src/components/icons/KebabIcon.tsx
  src/components/icons/SymbolLogoIcon.tsx
  src/components/icons/style/IconContainer.ts
  src/components/icons/type/IconProps.ts
  src/pages/Root.tsx
  src/pages/setup/index.tsx
Labels: Ccomponent, UI

#28 `/` 페이지 모바일, 타블렛 UI 구현
  src/assets/icons/message.svg
  src/assets/icons/restore.svg
  src/assets/images/house.png
  src/assets/images/profiles/kingSejong.png
  src/assets/images/tree.png
  src/assets/images/typography-short.png
  src/fonts/ChosunCentennial.woff
  src/pages/landing/components/BookshelfCard.tsx
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/index.tsx
  src/pages/landing/mockData.ts
  src/pages/landing/style/scrollAnimatioin.ts
  src/styles/fonts.js
Labels: UI

#30 feat: 방명록 모달 기능 및 애니메이션 추가
  src/assets/icons/modal-close-white.svg
  src/components/header/index.tsx
  src/constants/mock.ts
  src/pages/main/components/bookshelf/BookItem.tsx
  src/pages/main/components/bookshelf/BookScrollModal.tsx
Labels: Ccomponent, UI, Responsive

#33 `Auth` 페이지 redirect로직 추가
  src/api/axios.ts
  src/api/user/userRequest.ts
  src/api/user/userRequest.type.ts
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryUser.ts
  src/pages/auth/index.tsx
Labels: API, Page

#35 `landing` 페이지 애니메이션 추가
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/components/LandingPC.tsx
  src/pages/landing/components/LandingPC/components/FirstSection.tsx
  src/pages/landing/components/LandingPC/components/SecondSection.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
  src/pages/landing/index.tsx
Labels: Page, UI

#38 초기 설정, 추가 꾸미기 api 적용
  src/api/bookshelf/bookshelfRequest.ts
  src/api/bookshelf/bookshelfRequest.type.ts
  src/api/user/userRequest.ts
  src/api/user/userRequest.type.ts
  src/components/icons/SymbolLogoIcon.tsx
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryBookshelf.ts
  src/hooks/reactQuery/useQueryUser.ts
  src/pages/auth/index.tsx
  src/pages/main/components/additionalSetup/AdditionalSetupModal.tsx
  src/pages/main/components/additionalSetup/SetProfile.tsx
  src/pages/main/components/additionalSetup/SetTheme.tsx
  src/pages/main/components/bookshelf/BookshelfInfo.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/constants/profile-images.ts
  src/pages/main/constants/theme.ts
  src/pages/main/index.tsx
  src/pages/main/types/type.ts
  src/pages/setup/components/SetPublicity.tsx
  src/pages/setup/constants/publicitySelect.ts
  src/pages/setup/index.tsx
  src/pages/setup/types/type.ts
Labels: Ccomponent, API

#39 `landing` 페이지 api 연결 및 버튼 이벤트 추가
  src/api/axios.ts
  src/api/bookshelf/bookshelfRequest.ts
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryBookshelf.ts
  src/pages/landing/components/BookshelfCard/index.tsx
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/components/ButtonSection/index.tsx
  src/pages/landing/components/LandingButton.tsx
  src/pages/landing/components/LandingPC.tsx
  src/pages/landing/components/LandingPC/components/FirstSection.tsx
  src/pages/landing/components/LandingPC/components/SecondSection.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
  src/pages/landing/components/ShelfDecoration.tsx
  src/pages/landing/index.tsx
  src/pages/landing/mockData.ts
  vite.config.ts
Labels: Page

#41 `Main` 페이지 책장 다크모드 디자인 추가
  src/api/bookshelf/bookshelfRequest.ts
  src/api/bookshelf/bookshelfRequest.type.ts
  src/assets/icons/cloud/cloud-green.svg
  src/assets/icons/cloud/cloud-lightgreen.svg
  src/assets/icons/cloud/cloud-white.svg
  src/assets/images/bookshelf/dark-graphic.png
  src/assets/images/bookshelf/light-graphic.png
  src/pages/main/components/bookshelf/BookshelfInfo.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/index.tsx
  src/styles/theme/dark.ts
  src/styles/theme/light.ts
Labels: Ccomponent, Page, UI

#45 `/` 페이지 레이아웃 수정
  src/components/header/index.tsx
  src/components/header/nav/MobileNav.tsx
  src/components/header/nav/components/NavCategory.tsx
  src/components/header/nav/components/UserInfo.tsx
  src/components/icons/RightArrowIcon.tsx
  src/components/selfDesign/ShelfDecoration.tsx
  src/components/shelfDecoration/ShelfDecoration.tsx
  src/hooks/useOutsideClick.ts
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/components/LandingPC.tsx
  src/pages/landing/components/LandingPC/LandingPC.tsx
  src/pages/landing/components/LandingPC/components/FirstSection.tsx
  src/pages/landing/components/LandingPC/components/SecondSection.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection.tsx
  src/pages/landing/components/LandingPC/hooks/useSwapPage.ts
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
Labels: UI

#47 `/myPage` UI 구현
  package.json
  src/Router.tsx
  src/api/bookshelf/bookshelfRequest.type.ts
  src/assets/icons/bottom-arrow.svg
  src/assets/icons/left-arrow-tail.svg
  src/assets/icons/rewrite.svg
  src/assets/icons/top-arrow.svg
  src/components/header/index.tsx
  src/components/header/nav/components/NavCategory.tsx
  src/constants/maxLength.ts
  src/hooks/useInputText.ts
  src/hooks/useToggle.ts
  src/pages/index.ts
  src/pages/myPage/components/bookListSection/components/bookInfo.tsx
  src/pages/myPage/components/bookListSection/components/sortingBox.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/editSection/hooks/useScopeValue.ts
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/components/settingListSection/index.tsx
  src/pages/myPage/constant/settingList.ts
  src/pages/myPage/hooks/useSettingType.ts
  src/pages/myPage/index.tsx
  src/pages/myPage/mockData.ts
Labels: Page, UI

#48 `/myPage` 책장 소개글 변경, 공개 여부 변경 기능 구현
  index.html
  src/components/PrimaryInput/index.tsx
  src/components/template/ModalBaseTemplate/ModalBaseTemplate.tsx
  src/components/template/ModalBaseTemplate/style/commonModalStyle.ts
  src/components/template/Portal.tsx
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/components/renameModal/index.tsx
  src/pages/myPage/index.tsx
Labels: API, UI

#49 `/myPage` 배경 이미지 선택 모달 UI 구현 및 api 연결
  src/assets/icons/moon.svg
  src/assets/icons/sun.svg
  src/components/PrimaryButton/index.tsx
  src/components/template/ModalBaseTemplate/ModalBaseTemplate.tsx
  src/components/template/ModalBaseTemplate/style/commonModalStyle.ts
  src/hooks/useChangeNickName.ts
  src/pages/landing/components/Scroller.tsx
  src/pages/landing/index.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/BookshelfImageSection.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/components/SetProfileModal.tsx
  src/pages/myPage/components/editSection/components/BookshelfThemeSection/components/ThemeToggleButton.tsx
  src/pages/myPage/components/editSection/components/BookshelfThemeSection/index.tsx
  src/pages/myPage/components/editSection/components/DeleteAccountButton.tsx
  src/pages/myPage/components/editSection/components/DeleteAccountModal.tsx
  src/pages/myPage/components/editSection/components/IntroductionSection.tsx
  src/pages/myPage/components/editSection/components/OpenScopeSection.tsx
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/components/editSection/style/commStyle.ts
  src/pages/myPage/components/renameModal/index.tsx
  src/pages/myPage/index.tsx
Labels: API, Page, UI

#52 `/myPage` 기능 구현 완료 및 디자인 수정
  src/components/icons/LeftArrowIcon.tsx
  src/components/template/ModalBaseTemplate/ModalBaseTemplate.tsx
  src/pages/myPage/components/bookListSection/components/bookInfo.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/components/SetProfileModal.tsx
  src/pages/myPage/components/editSection/components/DeleteAccountButton.tsx
  src/pages/myPage/components/editSection/components/IntroductionSection.tsx
  src/pages/myPage/components/profileSection/components/GoBackButton.tsx
  src/pages/myPage/components/profileSection/components/RenameButton.tsx
  src/pages/myPage/components/profileSection/index.tsx
  src/pages/myPage/components/renameModal/index.tsx
  src/pages/myPage/index.tsx
Labels: API, Page, Refactor, UI

#53 `/` 랜딩 페이지 전반적인 레이아웃 수정
  src/assets/icons/double-under-arrow.svg
  src/pages/landing/components/BookshelfCard/components/TotalCount.tsx
  src/pages/landing/components/BookshelfCard/index.tsx
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/components/LandingPC/components/SecondSection.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection.tsx
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
  src/pages/landing/components/Scroller.tsx
  src/pages/landing/components/TitleSection.tsx
  src/pages/landing/index.tsx
Labels: Ccomponent, Page, UI

#54 스켈레톤 UI 추가 및 리팩토링
  src/components/header/index.tsx
  src/components/header/nav/MobileNav.tsx
  src/constants/kingSejong.ts
  src/hooks/useAnimationClose.ts
  src/pages/landing/components/BookshelfCard/components/SkeletonBookshelfCard.tsx
  src/pages/landing/components/BookshelfCard/index.tsx
  src/pages/landing/components/BookshelfSection.tsx
  src/pages/landing/components/BookshelfSection/BookshelfSectionLayout.tsx
  src/pages/landing/components/BookshelfSection/components/KingCardSection/index.tsx
  src/pages/landing/components/BookshelfSection/components/RandomCardSection/index.tsx
  src/pages/landing/components/BookshelfSection/index.tsx
  src/pages/landing/components/BookshelfSection/style/commonStyle.ts
  src/pages/landing/components/LandingPC/components/KingSejongCard/KingSejongCard.tsx
  src/pages/landing/components/LandingPC/components/KingSejongCard/SkeletonKingSejongCard.tsx
  src/pages/landing/components/LandingPC/components/SecondSection.tsx
  src/pages/landing/components/LandingPC/components/SecondSection/SecondSectionLayout.tsx
  src/pages/landing/components/LandingPC/components/SecondSection/index.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection/ThirdSectionLayout.tsx
  src/pages/landing/components/LandingPC/components/ThirdSection/index.tsx
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/index.tsx
  src/pages/landing/style/shakeAndFlashAnimation.ts
  src/pages/myPage/components/bookListSection/BookListSectionLayout.tsx
  src/pages/myPage/components/bookListSection/components/BookInfo/SkeletonBookInfo.tsx
  src/pages/myPage/components/bookListSection/components/BookInfo/index.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/editSection/components/BookshelfImageSection/BookshelfImageSection.tsx
  src/pages/myPage/components/editSection/components/BookshelfThemeSection/index.tsx
  src/pages/myPage/components/editSection/components/IntroductionSection.tsx
  src/pages/myPage/components/editSection/components/OpenScopeSection.tsx
  src/pages/myPage/components/editSection/index.tsx
  src/pages/myPage/components/profileSection/ProfileSectionLayout.tsx
  src/pages/myPage/components/profileSection/index.tsx
  src/pages/myPage/index.tsx
  src/styles/animation/skeletonAnimation.ts
  src/styles/animation/slideAnimation.ts
Labels: Page, Refactor, UI

#59 공유하기 기능 구현, 무한 스크롤 적용
  index.html
  src/api/book/bookRequest.ts
  src/api/book/bookRequest.type.ts
  src/api/user/KakaoTokenType.ts
  src/assets/icons/temp-share.svg
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryBook.ts
  src/pages/main/components/bookshelf/BookshelfInfo.tsx
  src/pages/main/components/bookshelf/GuestBooks.tsx
  src/pages/main/components/bookshelf/ShareModal.tsx
  src/pages/main/index.tsx
  src/pages/myPage/components/bookListSection/BookListSectionLayout.tsx
  src/pages/myPage/components/bookListSection/components/BookInfo/index.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/profileSection/index.tsx
  src/pages/myPage/constant/settingList.ts
  src/pages/myPage/index.tsx
  src/utils/copyInClipboard.ts
  src/utils/shareKakao.ts
Labels: Ccomponent, API, UI

#61 디자인 디테일 수정 및 기능 정상화
  index.html
  public/favicon.ico
  public/fonts/ChosunCentennial.woff
  public/fonts/EBSHMJESaeron-L.woff
  public/fonts/EBSHMJESaeron-R.woff
  public/fonts/EBSHMJESaeron-SB.woff
  public/fonts/EBSHunminjeongeum-L.woff
  public/fonts/EBSHunminjeongeum-R.woff
  public/fonts/EBSHunminjeongeum-SB.woff
  src/components/header/nav/MobileNav.tsx
  src/components/header/nav/components/NavCategory.tsx
  src/pages/Login/index.tsx
  src/pages/landing/components/DescriptionSection.tsx
  src/pages/landing/components/LandingPC/index.tsx
  src/pages/landing/components/LandingPC/style/commonPC.ts
  src/pages/landing/style/landingCommon.ts
  src/pages/main/components/bookshelf/ShareModal.tsx
  src/pages/myPage/components/bookListSection/BookListSectionLayout.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/styles/fonts.js
  src/styles/myReset.js
Labels: Ccomponent, Refactor, UI

#62 `/book/:id` 보낸, 받은 방명록 상세보기 페이지
  src/Router.tsx
  src/api/book/bookRequest.ts
  src/api/book/bookRequest.type.ts
  src/constants/queryKey.ts
  src/hooks/reactQuery/useQueryBook.ts
  src/pages/ReadBook/index.tsx
  src/pages/index.ts
  src/pages/main/components/bookshelf/BookScollPaper.tsx
  src/pages/myPage/components/bookListSection/index.tsx
  src/pages/myPage/components/editSection/components/OpenScopeSection.tsx
Labels: API, Page, UI
